<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8" /> 
  <meta name="Description" content="Dr. Judith Wilson's contact information and specialties" /> 
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
<script type="text/javascript" src="http://use.typekit.com/cyd6fip.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
</head>
<body>
<a href="/">
<div id="ribbon">
Judith<br> Wilson
</div></a>
<div id="leftbar">

<img src="/images/mom.jpeg"><br><br>
(650) 473-6858<br/><br/>

j.wilson.phd@gmail.com<br>
Response within one day<br><br>

123 Noe Valley St<br />
San Francisco, CA, 94107</br><br>

</div>

<div id="body">
  {{ content }}
</div>


</body>
</html>












