<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8" />
  <meta name="Description" content="Dr. Judith Wilson's contact information and specialties" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26099935-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</head>
<body>
<a href="/">
<div id="ribbon">
Judith<br> Wilson
</div></a>
<div id="leftbar">

<img src="/images/mom.jpeg"><br><br>
(650) 307-6546<br/><br/>

j.wilson.phd@gmail.com<br>
Response within one day<br><br>

4153 24th St<br />
San Francisco, CA, 94114</br><br>

935 Middlefield Road<br />
Palo Alto, CA, 94301</br><br>

</div>

<div id="body">
 <p> {{ content }}</p>
</div>


</body>
</html>
